.heading{
   font: size 3em;;
   font-family: 'Dancing Script', cursive;
}
#titleimg{
    margin: auto;
    border-radius: 10%;
}
body{
    background-color: #ececec;
}

#intro_text{
    font-size: larger;
    margin: auto;
}
#basic_info_table{
    border: 1.5px solid;
    border-radius: 2%;
    border-color: rgb(10, 45, 78);
}